body{
    margin: 0;
    padding: 0;
    background-color: #808080;
}
div{
    position: relative;
}

#div_top{
    background-color: orange;
    height:20%;
}
#div_left{
    background-color: greenyellow;
    height:80%;
    width:15%;
    float:left;
}
#div_main{
    background-color: whitesmoke;
    height:70%;
    float:left;
    width:85%;
}
#div_bottom{
    background-color: sandybrown;
    height:10%;
    width:85%;
    float:left;
}
#div_container{
    border-radius: 25px;
    width:80%;
    height:100%;
    border:0px solid blue;
    margin-left:10%;
    float:left;

}

#tbl_fruit{
    width: 60%;
    line-height: 30px;
margin-top: 120px;
    margin-left: 20%;
}
#tbl_fruit,#tbl_fruit tr,#tbl_fruit td{
border: 1px solid gray;
    /*border-collapse: collapse;*/
    text-align: center;
    /*background-color: blueviolet;*/
}

#sunfirm{

}